<form [formGroup]="targetForm" (ngSubmit)="onSubmit($event)">

    <!--Name-->
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="Name">
    </mat-form-field>

    <!--Type-->
    <mat-form-field appearance="fill">
        <mat-label>Type of place</mat-label>
        <input matInput formControlName="Type">
    </mat-form-field>

    <!--Payment-->
    <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Payment per Hour</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" formControlName="Payment">
        <span matTextPrefix>$&nbsp;</span>
        <span matTextSuffix>.00</span>
    </mat-form-field>

    <!--Direction-->
    <mat-form-field appearance="fill">
        <mat-label>Direction</mat-label>
        <input matInput formControlName="Direction">
    </mat-form-field>

    <!--Notes-->
    <mat-form-field appearance="fill">
        <mat-label>Notes</mat-label>
        <textarea matInput formControlName="Notes"></textarea>
    </mat-form-field>


    <button mat-raised-button color="accent" type="submit">Create</button>
</form>
